#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_EcoCoind += debian/examples/*
DEB_INSTALL_MANPAGES_EcoCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix EcoCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f EcoCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake EcoCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/EcoCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/EcoCoind
binary-post-install/EcoCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/EcoCoin-qt
